/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Titillium Web', Aerial, sans-serif;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
h1,
h2,
h3 {
  font-family: 'Roboto', Aerial, sans-serif;
  font-weight: bold;
}
p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}
a:hover {
  color: black;
}
a:active {
  color: black;
}
header {
  background: #e2e2e2;
  width: 100%;
  margin-bottom: 50px;
}
header nav {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  padding: 10px 20px;
}
@media (max-width: 500px) {
  header nav {
    flex-direction: column;
  }
}
header .header-title {
  background-image: linear-gradient(to bottom right, #6ddada, #e2e2e2);
  border-bottom: 5px solid #535353;
  border-top: 5px solid #535353;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .header-title .header-img {
  max-width: 30%;
  border: 2px solid #535353;
  border-radius: 20%;
}
@media (max-width: 700px) {
  header .header-title .header-img {
    display: none;
  }
}
.intro {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 2px solid #e2e2e2;
}
.intro h3 {
  text-align: center;
}
.mid-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 2px solid #e2e2e2;
}
@media (max-width: 700px) {
  .mid-content {
    flex-direction: column;
    align-items: center;
  }
}
.mid-content .work-history {
  width: 40%;
}
@media (max-width: 700px) {
  .mid-content .work-history h3 {
    text-align: center;
  }
}
@media (max-width: 700) {
  .mid-content .work-history {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid #e2e2e2;
  }
}
.mid-content .skills {
  width: 40%;
}
@media (max-width: 700px) {
  .mid-content .skills h3 {
    text-align: center;
  }
}
.mid-content .skill-lists {
  display: flex;
  justify-content: space-between;
  background: #535353;
  border: 5px solid #535353;
  border-radius: 5px;
}
.mid-content .skill-lists li {
  width: 100%;
  padding: 0.25rem;
  border: 2px solid #535353;
  border-radius: 5px;
  background: #e2e2e2;
  font-weight: 500;
}
.mid-content .skill-lists .skill-list-1 {
  width: 100%;
  text-align: left;
}
.mid-content .skill-lists .skill-list-2 {
  width: 100%;
  text-align: right;
}
.contact {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 2px solid #e2e2e2;
}
footer p {
  font-size: 0.75rem;
  text-align: center;
}
